<div class="row">
  <div class="col-sm-12">
    <%= image_tag("notification.jpg", alt: "notification bar") %>
    <div class="main row">
      <br>
      <div id="search_result">
        <% @contacts.each do |contact| %>
          <div class="number_holder row">
            <p class="contact_initial"><%= contact.name[0].capitalize %></p>
            <div class="col-sm-10 contact">
              <%= contact.name %><br>
              <%= contact.number %>
            </div>
            <div class="col-sm-1 details">
              <%= link_to '', contact_path(contact), remote: true, class: "glyphicon glyphicon-eye-open view_details" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div id="contact-details-modal" class="modal fade"></div>
    <div class="inserted_number row">
      <p class="number"></p>
      <%= image_tag("icon.png", size: '25x25', class: "remove_num") %>
    </div>
    <%= render partial: 'contacts/numpad' %>
  </div>
</div>
